html{
    background: linear-gradient(135deg, hsl(197, 81%, 21%) 0%, #05212b 100%);
}

#leftbox { 
    float:left;  
    width:60%; 
    height:280px; 
    color: #108d749d;
    font-family: 'Teko', sans-serif;
    margin-left: 1rem;
} 

#rightbox{ 
    float:right; 
    width:40%; 
    height:140px; 
}
#leftbox h1{
    text-transform: uppercase;
    font-size: 7rem;
    color: #cb6d14;
}

#leftbox h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

.bttn{
    margin-left: 5rem;
    background-color:#cb6d14;
    border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
    font-family: 'Oxygen', sans-serif;
    font-weight: 800;
}
.bttn:hover{
    background-color: #9e5613;
}

.brand-logo{
    font-family: 'Oswald', sans-serif;
    margin-left: 1rem;
    font-size: 2.5rem;    
}

.na{
    font-family: 'Oswald', sans-serif;
    color: #cb6d14;
}

.nav-wrapper{
    background-color: black;
}
    
#container {
	width: 600px;
	height: auto;
}

.row {
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #AFAFAF;
}

.name {
	position: relative;
	display: inline-block;
	width: 75%;
	line-height: 45px;
}

.score {
	position: relative;
	display: inline-block;
	width: 25%;
}